html,
body,
main-section {
    margin: 0;
    min-height: 100vh;
    font-family: 'Raleway-Regular', Sans-Serif;
    font-size: 24px;
}

img {
    width: 100%;
    height: auto;
}

section[height] {
    min-height: 100vh;
    margin: 0 auto;
}

section {
    width: 100%;
    margin: 20px auto;
}

[full-width] {
    width: 100%;
}

[large] {
    max-width: 1152px;
    padding: 0 20px;
}

[full-large] {
    max-width: 100%;
}

