<moment key="key" class="momentStyle_2" ng-class="{ 'momentShow': moment.offset < (currentOffset - marginLeft - currentOffsetWidth) * -1 }"
    layout="column" layout-align="center center">

    <div class="momentText" ng-class="{ 'momentMargin': moment.year != null}">
        <div>
            {{moment.text}}
        </div>
    </div>

    <div layout="row" layout-align="center center">
        <div class="momentYear">
            {{moment.year}}
        </div>
        <div class="momentImg">
            <img src="{{moment.img}}" alt="">
        </div>

    </div>
    <div class="momentTitle" ng-class="{ 'momentMargin': moment.year != null}">
        {{moment.title}}
    </div>

</moment>