<moment key="key" ng-class="{ 'momentShow': moment.offset < (currentOffset - marginLeft - currentOffsetWidth) * -1 }" class="momentStyle_1"
    layout="column" layout-align="center center">
    <div class="momentTitle" ng-class="{ 'momentMargin': moment.year != null}">
        {{moment.title}}
    </div>

    <div layout="row" layout-align="center center">
        <div class="momentYear">
            {{moment.year}}
        </div>
        <div class="momentImg">
            <img src="{{moment.img}}" alt="">
        </div>

    </div>

    <div class="momentText" ng-class="{ 'momentMargin': moment.year != null}">
        {{moment.text}}
    </div>
</moment>