<moment key="key" class="momentStyle_3"
    ng-class="{ 'momentShow': moment.offset < (currentOffset - marginLeft - currentOffsetWidth) * -1 }" layout="row"
    layout-align="start center">

    <div class="momentYear">
        {{moment.year}}
    </div>
    <div class="momentImg">
        <img src="{{moment.img}}" alt="">
    </div>

    <div class="momentDesc">
        <div class="momentTitle" ng-class="{ 'momentMargin': moment.year != null}">
            {{moment.title}}
        </div>

        <div class="momentText" ng-class="{ 'momentMargin': moment.year != null}">
            {{moment.text}}
        </div>
    </div>
</moment>