@import 'variables.scss';
.timeline {
    position: relative; // width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.scrollTrack {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.momentsContainer {
    position: sticky !important;
    -webkit-position: sticky;
    top: 0px;
    overflow: hidden; // width: 100%;
    height: 100vh;
}

.momentsTrack {
    position: relative;
    height: 100%;
    will-change: transform;
}

moment {
    display: block;
}

.colorSandra {
    * {
        color: $verd;
    }
}

.colorMarc {
    * {
        color: $blau;
    }
}

moment.momentShow {
    opacity: 1;
    animation: momentStyle_3 0.35s linear;
}

@keyframes momentStyle_3 {
    0% {
        opacity: 0;
        margin-top: 50px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

$momentYear: 40px;
$textMomentSize: 20px;
@import 'templates/line.scss';
@import 'templates/style1.scss';
@import 'templates/style2.scss';
@import 'templates/style3.scss';