@import 'variables.scss';
.photoProfileImg {
    width: $width;
    height: auto;
    position: absolute;
    top: 0px;
}

.photoProfileContainer {
    position: relative;
    width: $width;
    min-width: $width;
    min-height: 400px;
    transition: 0.5s ease-out;
}

.photoProfileCircle {
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 400px;
    transition: 0.5s;
    position: absolute;
    cursor: pointer;
}

.photoProfileCircleHover:hover {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(233, 193, 37, 1);
    -moz-box-shadow: 0px 0px 0px 15px rgba(233, 193, 37, 1);
    box-shadow: 0px 0px 0px 15px rgba(233, 193, 37, 1);
}

.photoProfileCircleActive {
    border-radius: 0;
    width: $width;
    height: $height;
    transition: 0.5s;
    cursor: default;
}

.photoProfileContainerActive {
    height: 640px;
}

.photoProfileContainerHided {
    display: none;
}

.tipoProfecional {
    // margin-top: -310px;
    // height: 450px;
    margin-top: 20px;
}

.tipoProfecional img {
    max-width: 224px;
    margin: 0 88px;
}

.mark .photoProfileCircle,
.mark .photoProfileImg {
    left: 0px;
}

.sandra {
    margin-left: auto;
}

.sandra .photoProfileCircle,
.sandra .photoProfileImg {
    right: 0px;
}

.holaContainer {
    height: 184px;
}

.photoContainer {
    animation: toAppearPhoto 2s ease-in-out;
}

.tipoProfecional {
    animation: toAppearProf 3s ease-in-out;
}

.hola {
    height: auto;
    width: 400px;
    margin-left: calc(50% - 200px);
    transition: 1s;
    display: block;
    margin-top: 60px;
}

.back {
    width: 144px;
    transition: 1s;
    margin-left: 0;
    cursor: pointer;
}

.backArrow {
    cursor: pointer;
}

.pathSandra,
.pathMarc,
.pathGroc,
.backArrow {
    fill: $groc;
}

.pathGroc {
    stroke: $groc;
    stroke-width: 2px;
    stroke-dasharray: 1200;
    stroke-dashoffset: 0;
    animation: dash 2s linear;
}

.backArrow {
    width: 40px;
    height: auto;
    transition: 1s;
    margin-top: 60px;
}

.description {
    height: $height - 80px;
    position: relative;
}

.nameContainer {
    z-index: 1;
    position: absolute;
    height: auto;
    align-self: flex-start;
}

.sandraDesc {
    color: $verd;
    text-align: end;
}

.markDesc {
    color: $blau;
}

.sandraDesc .nameContainer {
    right: -96px;
    width: 440px;
}

.markDesc .nameContainer {
    left: -96px;
    width: 528px;
    top: 10px;
}

.text {
    padding: 20px 50px;
}

.goToPhase2 {
    height: auto;
    width: 88px;
    margin-top: 30px;
    position: relative;
    svg {
        fill: $groc;
        animation: jump 1s alternate infinite;
        position: absolute;
        cursor: pointer;
    }
}

@keyframes jump {
    0% {
        top: -20px;
    }
    100% {
        top: 20px;
    }
}

@keyframes dash {
    0% {
        fill: white;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke: white;
    }
    15% {
        stroke: $groc;
        fill: white;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }
    85% {
        fill: white;
        stroke-dasharray: 1200;
        stroke-dashoffset: 0;
    }
    100% {
        fill: $groc;
    }
}

@keyframes toAppearPhoto {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toAppearProf {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}