@font-face {
	font-family: 'Raleway-Regular';
	src: url('Raleway-Regular/Raleway-Regular.eot');
	src: local('☺'), url('Raleway-Regular/Raleway-Regular.woff') format('woff'), url('Raleway-Regular/Raleway-Regular.ttf') format('truetype'), url('Raleway-Regular/Raleway-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
