﻿<main-section full-width flex layout="column" layout-align="start stretch">

   <section ng-if="avis" height layout="column" layout-align="center center">
      <h1 style="text-align:center">:(</h1>
      <div style="padding:20px; text-align: center"> eh... tenim massa projectes i no ens caben a una pantalla tan petita... :/ <br />
         <br /> si us plau, si vols veure aquesta web, millor mira-la amb una pantalla de 1260px d'amplada i 845px d'alçada  ;)
      </div>
   </section>

   <section ng-if="!avis" height large>

      <div full-width class="holaContainer" layout="row" layout-align="start center">
         <div class="backArrow" ng-click="setActive('')" ng-show="active != ''" ng-include="'../../Img/svg/back.html'">
         </div>

         <div class="hola" ng-click="setActive('')" ng-class="{ 'back': active != '' }"
            ng-include="'../../Img/svg/hola.html'"></div>
      </div>

      <div layout="row" layout-align="start start" full-width class="photoContainer">

         <div class="photoProfileContainer mark"
            ng-class="{ 'photoProfileContainerHided': active == 'sandra', 'photoProfileContainerActive': active == 'mark' }">
            <div class="photoProfileCircle"
               ng-class="{ 'photoProfileCircleActive': active == 'mark', 'photoProfileCircleHover': active != 'mark' }">
               <img src="../../Img/mark/mark.jpg" class="photoProfileImg" ng-click="setActive('mark')">
            </div>
         </div>

         <!-- Sandra -->
         <div class="description sandraDesc" ng-show="active == 'sandra'" layout="row" layout-align="end end">
            <div class="nameContainer">
               <div ng-include="'../../Img/svg/sandra.html'"></div>
            </div>
            <div class="text">
               Perfeccionista, carismàtica i canviant.<br />
               Sóc Sandra, m’encanta treballar en equip i crear coses impossibles d’imaginar! (:<br /> <br />
               A continuació trobaràs cronològicament alguns dels treballs que he realitzat.
            </div>
         </div>

         <div class="photoProfileContainer sandra"
            ng-class="{ 'photoProfileContainerHided': active == 'mark', 'photoProfileContainerActive': active == 'sandra' }">
            <div class="photoProfileCircle"
               ng-class="{ 'photoProfileCircleActive': active == 'sandra',  'photoProfileCircleHover': active != 'sandra' }">
               <img src="../../Img/sandra/sandra.jpg" class="photoProfileImg" ng-click="setActive('sandra')">
            </div>
         </div>

         <!-- Mark -->
         <div class="description markDesc" ng-show="active == 'mark'" layout="row" layout-align="end end">
            <div class="nameContainer">
               <div ng-include="'../../Img/svg/mark.html'"></div>
            </div>
            <div class="text">
               Perfeccionista, imaginatiu, creatiu, i amb moltes ganes d'aprendre. <br /><br />
               Sóc Marc, et vull presentar una sèrie de treballs i projectes que he anat realitzant al llarg de la meva
               vida, que de ben segur em descriuran millor que el que posi aquí :) </div>
         </div>

      </div>

      <div layout="row" layout-align="center center" full-width class="tipoProfecional" ng-show="active == ''">
         <div><img src="../../Img/programador.png"></div>
         <div><img src="../../Img/dissenyadora.png"></div>
      </div>

      <div layout="row" layout-align="center start" full-width ng-show="active != ''"
         style="position:relative; height: 130px;">
         <div class="goToPhase2" ng-include="'../../Img/svg/goToPhase2.html'"></div>
      </div>

   </section>

   <section class="timeline" ng-class="{ 'colorSandra': active == 'sandra',  'colorMarc': active == 'mark' }"
      ng-if=" !avis && active != ''" height layout="row" layout-align="start center">

      <div class="scrollTrack">
         <div class="momentsContainer">
            <div class="momentsTrack" layout='row' layout-align='start center'>
               <div ng-repeat="(key, moment) in moments" layout='row' layout-align='start center'>
                  <div ng-if="moment.style == 1 && moment.type == 'moment'" ng-include="'Pages/Start/templates/style1.html'"></div>
                  <div ng-if="moment.style == 2 && moment.type == 'moment'" ng-include="'Pages/Start/templates/style2.html'"></div>
                  <div ng-if="moment.style == 3 && moment.type == 'moment'" ng-include="'Pages/Start/templates/style3.html'"></div>
                  <div ng-if="moment.type == 'line'" ng-include="'Pages/Start/templates/line.html'"></div>
               </div>
            </div>

         </div>

      </div>
   </section>





</main-section>