@import '../variables.scss';
.line {
    height: 8px;
    width: 600px;
}

.line .lineStroke {
    width: 0%;
    height: 8px;
    transition: 0.25s ease-in-out;
    background: $groc;
    max-width: 520px;
    margin-left: 40px;
}

.line.momentShowLine .lineStroke {
    width: 100%;
}