@import '../variables.scss';
.momentStyle_1 {
    opacity: 0;
    transition: 0.5s;
    height: 600px;
    width: 470px;
    .momentTitle {
        font-weight: bolder;
        font-size: $momentYear;
        padding-top: 24px;
    }
    .momentTitle,
    .momentText {
        height: 80px;
        text-align: center;
        max-width: 520px;
    }
    .momentText {
        font-size: $textMomentSize;
    }
    .momentMargin {
        margin-left: 50px;
    }
    .momentYear {
        text-align: left;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: $momentYear;
        font-weight: bolder;
    }
    .momentImg {
        img {
            width: initial;
            max-width: 420px;
            max-height: 420px;
        }
    }
}